<div class="container-fluid mt-5 about-style " id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="img">
                            </div>
                                <h1>Settings</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, sapiente hic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="img">
                            </div>
                                <h1>Speedup</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, sapiente hic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="img">
                            </div>
                                <h1>Privacy</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, sapiente hic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="img">
                            </div>
                                <h1>Backups</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, sapiente hic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="img">
                            </div>
                                <h1>Ssl</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, sapiente hic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="img">
                            </div>
                                <h1>Database</h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, sapiente hic.</p>
                        </div>
                    </div>
                </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d482632.8035714227!2d72.60097643609059!3d19.08268809821776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1629791112147!5m2!1sen!2sin" width="85%" height="450" style="box-shadow: 0 0 25px 0 rgba(145, 147, 218, 0.931); border-radius:2rem; margin:5rem 0" allowfullscreen="true" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>